h1, h2, h3, h4, h5, h6{
    color: #9fa8a3;
    text-shadow: 2px 2px #fff;
}

p{
    font-size: 20px;
}

.btn-floating{
    background-color:#9fa8a3;
    margin-right: 5px;
}
.blogcolours{
    background-color:#9fa8a3;
    font-family: 'Amatic SC', cursive;
}
.btn-floating:hover{
    background-color:#e3e0cf;
}
.brand-logo{
    margin-left:10px;
}
.homepage{
    height: 100%;
    padding-top: 40px;
    background-color: #c5d5cb;    
   }
.blog{
    height: 100%; 
}
.link{
    font-size: 35px;
}
.intro{
    font-family: 'Amatic SC', cursive;
    background-color: #fff;   
    margin-top: 20%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 25px;
    margin-left: 15%;
    margin-right: 15%;
}
.blogintro{
    font-family: 'Amatic SC', cursive;
    background-color: #fff;   
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 25px;
    margin-left: 15%;
    margin-right: 15%;
}
.blogpara{
    font-family: 'Josefin Sans', cursive;
    background-color: #fff;   
    font-size: 18px;
}
.buttons{
    margin-top: 30px;
    margin-bottom: 30px;
}
/**/
.filtr-item {
    padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    left: 2rem;
    right: 2rem;
    width:250px;
    font-size: 20px;
    margin: 0px 15px 15px 15px;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px 2px #9fa8a3;
    text-align: center;
    margin-bottom: 10px;
}
/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 20px;
}
.simplefilter li {
    background-color: #9fa8a3;
    margin-bottom: 3px;
}
.simplefilter li.active {
    background-color: #e3e0cf;
    margin-bottom: 3px;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}